/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: 'Lato', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

/* section tuk pemisah antar section 
top/bottom : 80px */
.section {
  padding: 5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title h2 {
  text-transform: uppercase;
}

.title span {
  color: var(--clr-primary-5);
}

/* section-center for setting width  */
.section-center {
  /* default on me 1354px full browser
  and be changed 1294*/
  width: 90vw;
  margin: 0 auto;
  /* dan maximalnya adalah 1170px */
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/

/*
=============== 
Hero
===============
*/
.hero {
  background: var(--clr-primary-5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* here for banner text */
.hero-banner {
  color: var(--clr-white);
  text-align: center;
  /* left right: 3rem */
  padding: 0 3rem;
}

/* u can overwrite for heading */
.hero-banner h1 {
  text-transform: uppercase;
}

.hero-banner p {
  /* full browser:1270 diubah max-width:560px */
  max-width: 35rem;
  /* jgn mnggunakan margin:0 auto; krna
  set paragraph bottom 1.25rem;
  */
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
}

.hero-btn {
  /* 14px 25px */
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  background: var(--clr-white);
  color: var(--clr-primary-5);
}

/* hover if clicked */
.hero-btn:hover {
  background: transparent;
  color: var(--clr-white);
  /* cz border: 2px solid transparent */
  border-color: var(--clr-white);
}

/* if 768px background willl use image */
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(51, 51, 51, 0.75), rgba(0, 0, 0, 0.75)),
      url('../images/main.jpeg') no-repeat center/cover fixed;
  }
  .hero-banner {
    /* cz sblumnya padding 0 3rem */
    padding: 0;
  }
  .hero-banner p {
    /* sebelumnya 560px ganti mnjdi 720-an */
    max-width: 45rem;
  }
}

/*
=============== 
About
===============
*/
/* section add to globals */
/* title add to globals */
/* section center add to globals */

/* beri jarak pemisah antar article about-image,
dan about-info */
.about-image,
.about-info {
  margin-bottom: 2rem;
}

/* if 768px will be 2 column */
@media screen and (min-width: 768px) {
  .about-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-image,
  .about-info {
    /* 2 column basis will 50% */
    flex: 0 0 calc(50% - 1rem);
    align-self: center;
    /* krna 2 column kesamping margin-bottom di null kan
    krna sblumnya margin-bottom : 2rem
    */
    margin-bottom: 0;
  }
}

/* beri border tuk about-image */
@media screen and (min-width: 992px) {
  .about-image::before {
    /* dont forget always2 use content */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--clr-primary-5);
    /* jika posisi box tidak sama gunakan border-box */
    box-sizing: border-box;
    top: -1rem;
    left: -1rem;
    /* z-index:-1; */
  }
  .about-image {
    position: relative;
  }

  /* z-index -1 on before  can but,u can use this one */
  .about-photo {
    position: relative;
  }
}

/*
=============== 
Services
===============
*/

/* add background here */

/* beri background ksluruhan pada section service */
.services {
  background: var(--clr-primary-10);
}

/* masing2 article service posisikan ke center dahulu
dan beri jarak pemisah 
*/
.service {
  text-align: center;
  margin-bottom: 3rem;
}

.service-icon {
  /* dont forget about always2 inline-block
  agar margin-bottom bisa digunakan */
  display: inline-block;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.5rem;
  /* ukuran icons */
  font-size: 3rem;
  /* beri jarak pemisah agar tidak trlalu dkt dgn h4 */
  margin-bottom: 1.25rem;
}

.service-info p {
  /* set to width biar tidak spanning text nya */
  width: 17rem;
  /* posisikan ke tengah & jgn gunakan margin:0 auto 
  krna margin-bottom p 1.25rem*/
  margin-left: auto;
  margin-right: auto;
}

/* if 576px will create 2 column */
@media screen and (min-width: 576px) {
  .service_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .service {
    flex: 0 0 calc(50% - 1rem);
    margin-left: auto;
    margin-right: auto;
  }
}

/* if 992px will create 3 coloumn */
@media screen and (min-width: 992px) {
  .service {
    flex: 0 0 calc(33.3% - 1rem);
    /* set margin:0 agar tidak d tengah cz sblumnya
    margin left/auto di tengah pada 576px */
    margin: 0;
  }
}

@media screen and (min-width: 1170px) {
  .service {
    display: flex; /*will strech*/
    text-align: left;
    margin: 0;
  }
  .service-icon {
    align-self: flex-start; /*not strech again */
    padding: 1.2rem 1.5rem;
  }
  .service-info {
    margin-left: 1rem;
  }
}
/*
=============== 
Featured Tours
===============
*/
.tour-card {
  /* beri jarak setiap card */
  margin-bottom: 2rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  /* beri background pada card */
  background: var(--clr-grey-10);
}

/* if clicked will get effect */
.tour-card:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.025);
}

/* masukan date ke image */
.image-tour-container {
  position: relative;
}

.tour-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  /* 5px 17px */
  padding: 0.35rem 1.1rem;
  text-transform: capitalize;
  /* set ke 0 krna p margin-bottom 1.25rem */
  margin-bottom: 0;
}

/* beri jarak top/bottom, left/right pada tour-info */
.tour-info {
  /* 19.2px & 24px */
  padding: 1.2rem 1.5rem;
}

/* jadikan posisi nya bersebrangan tuk kedua class ini*/
.tour-title,
.tour-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* set for tour-title */
.tour-title h4 {
  font-weight: 700;
}

.tour-title p {
  color: var(--clr-grey-7);
}

.tour-title p,
.tour-title h4 {
  /* here margin-bottom h4 still 12, and p 20
we can overide it*/
  margin-bottom: 0.75rem;
  line-height: 1.25;
}

/* set for tour-title */

.tour-footer p {
  /* cz p 1.25 , and line-height is 1.5 */
  margin-bottom: 0;
  line-height: 0;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}

/* set height image agar smua dalam card gambar sama rata */
.image-tour-container img {
  /* 272px */
  height: 17rem;
  object-fit: cover;
}

/* add btn all explore */
.btn-explore {
  text-align: center;
}

.btn-explore .btn {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  margin-top: 1.25rem;
}

/* if 768px 2 column & if 992px 3 column */
@media screen and (min-width: 768px) {
  .tour-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tour-card {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media screen and (min-width: 992px) {
  .tour-card {
    flex: 0 0 calc(33.3% - 1rem);
  }
}

/*
=============== 
Contact
===============
*/
/* add background */
.contact {
  background: var(--clr-primary-5);
}

.contact-title {
  color: var(--clr-white);
}

.contact-title p {
  color: var(--clr-white);
}

/* contact-form will flex */
.contact-form {
  display: flex;
  max-width: 100%;
}
/*  children dont forget */
.form-control {
  flex: 1 1 auto;
  color: var(--clr-primary-1);
}

/* sejajarkan tuk input & button */
.form-control,
.btn-submit {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: var(--spacing);
  background: var(--clr-white);
  text-transform: capitalize;
  border: transparent;
  color: inherit;
}

.form-control::placeholder {
  color: inherit;
}

.btn-submit {
  margin-left: 0.5rem;
  background: var(--clr-primary-8);
}

.btn-submit:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-8);
}

/* buat smua children menjadi bersebrangan */
@media screen and (min-width: 992px) {
  .contact-center {
    /*will strech all children cz contact-form flex*/
    display: flex;
    flex-wrap: wrap;
  }
  .contact-form {
    /* here not strech again */
    align-self: flex-start;
    flex: 1 1 auto;
    padding-left: 2rem;
  }
}

/*
=============== 
Gallery
===============
*/

/*
=============== 
Footer
===============
*/
